# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# R files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# Targets files
_targets

# Ignore intermediate pipeline files
*/in/*
*/tmp/*
*/out/*

# Allow the `.empty` files to be committed
!*/in/.empty
!*/tmp/.empty
!*/out/.empty

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.Rproj.user
