@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* semantic color variables for this project */
/* Define colors */
:root {
  --white: #ffffff;
  --white-soft: #F0F0F0;
  --near-white: #f8f8f8;
  --black-soft: #151515;
  --medium-grey: #B5B5B5;
  --medium-light-grey: #e8e8e8;
  --dark-grey: #878787;
  --grey_17_1: #1A1A1A;
  --grey_15_1: #262626;
  --grey_7_1: #595959;
  --grey_6_1: #636363;
  --grey_5_1: #6E6E6E;
  --grey_3_1: #949494;
  --grey_2_1: #B5B5B5;
  --grey_1pt25_1: #E6E6E6;
  --inactive-grey: #949494;
  --inactive-text-grey: #757575;
  --usgs-blue: #00264c;
  --usgs-blue_3_1: #7D97B0;
  --extremely-faded-usgs-blue: #F5F7FA;
  --currant: 104, 0, 0;/* equivalent to #680000 */
  --copper: 167, 105, 63;/* equivalent to #A7693F */
  --beige: 220, 213, 168;/* equivalent to #DCD5A8 */

  font-size: 62.5%;

  --title-font: 'Source Sans 3';
  --default-font: 'Source Sans 3';
}

/* Declare color variables */
:root {
  --color-background: var(--white);
  --color-text: var(--black-soft);
  --color-title-text: var(--usgs-blue);
  --color-overlay: var(--black-soft);
  --color-overlay-text: var(--white-soft);
  --color-code-links-background: var(--medium-grey);
  --color-link: var(--usgs-blue);
  --color-USGS-header-footer: var(--usgs-blue);
  --color-extreme: var(--currant);
  --color-severe: var(--copper);
  --color-moderate: var(--beige);
  --color-not-in-drought: var(--near-white);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black-soft);
    --color-text: var(--white-soft);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

body {
  min-height: 100vh;
  color: var(--color-text);
  fill: var(--color-text); /* Needed for text added w/ d3 */
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--default-font);
  font-size: 1.6rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  @media only screen and (min-width: 641px) {
    font-size: 2rem;
  }
}
h1 {
  font-weight: 200;
  color: var(--color-title-text);
  padding: 0 0 0 0;
  font-size: 3.6rem;
  line-height: 3.6rem;
  @media only screen and (min-width: 641px) {
    font-size: 4.6rem;
    line-height: 4.6rem;
  }
}
h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--color-text);
  padding: 0 0 0 0;
  @media only screen and (min-width: 641px) {
    font-size: 3.2rem;
  }
}
h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-text);
  padding: 1.25rem 0 0.5rem 0;
  @media only screen and (min-width: 641px) {
    font-size: 2rem;
    padding: 1.5rem 0 0.75rem 0;
  }
}
h4 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--color-text);
  padding: 1.5rem 0 0.75rem 0;
}
p, text, li {
  padding: 0 0 1rem 0;
}
li:first-of-type {
  padding-top: 1rem;
}

