@import './base.css';
@import './common.css'; /* USGS Viz ID Stylesheet */
@import './custom.css'; /* USGS Viz ID Stylesheet */

#app {
  margin: 0 auto;
}

/* css styles specific to page content exclusive of header and footer*/
/* NOT component-specific */
#visualization-container {
  margin: 0 0 0 0;
  height: calc(100vh - 23.4px - 87px - 32px - 93px - 0rem); /*page height - USWDS banner - USGS header - prefooter code links - USGS footer - container margin (top + bottom)*/
  /* ----------- Non-Retina Screens ----------- */
  @media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
    height: 100vh;
  }

  /* ----------- Retina Screens ----------- */
  @media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) { 
    height: 100vh;
  }
}
#visualization-container p {
  font-weight: 300;
}
.title {
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--title-font);
  color: var(--color-title-text);
}
/* set color of links throughout */
a {
  color: var(--color-link);
}
/* sets width of text column throughout components */
.text-container {
  max-width: 70rem; /* 70 pixels on desktop */
  margin: 0 auto 0 auto;
}
.text-container.mobile {
  max-width: 90vw; /* 90% of view width on mobile */
}
/* sets max-width of figure elements throughout components */
.figure-container {
  max-width: 80vw;
  margin: 0 auto 0 auto;
}
.slight-emph {
  font-weight: 400;
}
.major-emph {
  font-weight: 800;
}
