@import './base.css';
@import './common.css'; /* USGS Viz ID Stylesheet */
@import './custom.css'; /* USGS Viz ID Stylesheet */

#app {
  margin: 0 auto;
}

/* css styles specific to page content exclusive of header and footer*/
/* NOT component-specific */
#visualization-container {
  margin: 0 0 0 0;
  height: calc(100vh - 23.4px - 71px - 72px - 0rem); /* page height - USWDS banner (23.4) - USGS header (71) - USGS footer (72) - container margin (top + bottom) Note: More info banner - 40px */
  /* ----------- Non-Retina Screens ----------- */
  @media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
    height: calc(100vh + 40px);
  }

  /* ----------- Retina Screens ----------- */
  @media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) { 
    height: calc(100vh + 40px);
  }
  /* ----------- Phones ----------- */
  @media only screen and (max-width: 641px) {
    height: calc(100vh + 40px);
    width: 100%;
  }
}
#visualization-container p {
  font-weight: 300;
}
/* set color of links throughout */
#visualization-container a {
  color: var(--color-link);
  font-weight: 600;
  @media only screen and (max-width: 600px) {
    text-decoration: underline;
  }
}
/* sets width of text column throughout components */
.text-container {
  max-width: 70rem; /* 70 pixels on desktop */
  margin: 0 auto 0 auto;
}
.text-container.mobile {
  max-width: 90vw; /* 90% of view width on mobile */
}
/* sets max-width of figure elements throughout components */
.figure-container {
  max-width: 80vw;
  margin: 0 auto 0 auto;
}
.site-title {
  font-family: var(--title-font);
  color: var(--color-title-text);
  font-weight: 300;
}
.site-subtitle {
  font-family: var(--subtitle-font);
  color: var(--color-subtitle-text);
  padding-top: 0.5rem;
  font-weight: 300 !important;
}
.splash-subtitle {
  padding-top: 1rem;
}
.slight-emph {
  font-weight: 400;
}
.moderate-emph {
  font-weight: 600;
}
.major-emph {
  font-weight: 800;
}
.de-emph {
  font-weight: 300;
  color: var(--grey_7_1);
}
.highlight {
  border-left: 4px solid red;
  padding-left: 4px;
  background-image: linear-gradient(to right, pink, var(--color-background));
}
.extreme {
  border-color: rgb(var(--color-extreme));
  background-image: linear-gradient(to right, rgba(var(--color-extreme), 0.5), var(--color-background));
}
.severe {
  border-color: rgb(var(--color-severe));
  background-image: linear-gradient(to right, rgba(var(--color-severe), 0.5), var(--color-background));
}
.moderate {
  border-color: rgb(var(--color-moderate));
  background-image: linear-gradient(to right, rgba(var(--color-moderate), 0.5), var(--color-background));
}
/* info buttons */
/* Mimic MapBox info button */
.info-button {
  background-color: var(--color-background);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  outline: none;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.15);
  margin: 5px;
  padding: 0;
}
.info-button:focus-visible {
  outline: 2px solid;
}
.info-button:hover {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
}
.info-button.static:hover {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.15);
}
/* css for tooltips */
.tooltip-span {
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.5px;
  text-decoration-color: rgba(54, 54, 54, 0.8);
  text-underline-offset: 10%;
  font-weight: 400;
  z-index: 10;
}
.tooltiptext {
  font-size: 2rem;
  line-height: 2.2rem;
  visibility: hidden;
  width: max(200%, 200px);
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.9rem 0.65rem;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: opacity 0.3s;
  /* ----------- Phones ----------- */
  @media only screen and (max-width: 641px) {
    width: calc(95vw - 6rem); /*Don't let tooltip width exceed viewport width*/
  }
}
.tooltip-left {
  left: 0;
  transform: none;
}
.tooltip-group:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
